body {
    font-family: "outfit";
    background-color: hsl(220, 15%, 55%);
    padding: 1rem;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 100svh;
gap: 2rem;
text-align: center;
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

img {
    display: block;
    object-fit: contain;
    max-width: 100%;
    border-radius: 9px;
}



section {
    display: flex;
    flex-direction: column;
align-items: center;
    border-radius: 1rem;
background-color: white;
max-width: 16rem;
padding: 1rem;

}

article {
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding-inline: 11px;
    padding-bottom: 1rem;
}

.scan-qr-code {
    font-size: 1em;
    color: rgb(136, 123, 123);
}

.test_skill {
    font-weight: 600;
}